.opportunity {
  padding: 10px;
  border-bottom: 1px solid #222;
}

.opportunity--selected {
  background: #eee;
}

.opportunity-detail {
  padding: 10px;
  background: #eee;
}

.column-one-half.column-one-half--full {
  padding: 0;
}
